* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f8ff;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}
/* Makes scrolling smooth when clicking navbar links */
html{

    scroll-behavior:smooth;

}